/*GLOBALES*/

* {
    box-sizing: border-box;
    
}

body {
    font-family: "Open Sans", sans-serif
    
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

.button {
    color: white;
    background-color: #5C3CAF;
    padding: 8px 14px;
    border-radius: 50px;
    font-size: 8px;
    margin: 4px;
    max-width: 140px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    
}

.icon {
    font-size: 16px;
    margin-right: 10px;
    
}

.lain {
    position: absolute;
    height: 300px;
    width: 7px;
    background-color: #5C3CAF;
    transform: rotate(20deg);
    top: 15%;
    left: 50%;
    z-index: -1;
    
}

/*HERO BANNER*/

.wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    
    
}

#hero-banner {
    background-image: url(../assets/img/header-image.png);
    color: white;
    background-size: cover;
    background-position: center;
    z-index: 2;
    
}

.hero-headline {
    margin: 130px 0;
    
}

#hero-banner .hero-headline h1{
    font-size: 40px;
    margin: 0;
    
    
}

#hero-banner figure {
    margin: 0;
    text-align: center;
    padding-top: 40px;
    padding-left: -40px;
    
}

#hero-banner figure #logo-side {
    display: none;
    
}

.hero-headline h1:nth-of-type(2) {
    text-align: right;
    
}

.store-buttons {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    
}

.hash-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-bottom: 20px;
}

.hashtag {
    color: #9071EA;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}

/*THIS IS THE ATHLETE AND PLAYER PORTION */

#top-row-athlete {
    padding-top: 35px;
    
}

#flying-athlete {
    background-image: url(../assets/img/footballer.png);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 70px;
    
}

.person-background {
    height: 300px;
    
}

.person-background h1 {
    font-size: 50px;
    color: #d3d3d3;
    text-align: center;
    margin-top: -10px;
    
}

.person-bottom-text {
    background-color: #F5F4F9;
    height: 270px;
    width: 100%;
    padding-top: 50px;
    
}

.hidden-back {
    display: none;
    
}

.bottomtext-toprow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    
}

.bottom-toptext-icon .bottom-portion{
    width: 15px;
    height: 3px;
    background-color: purple;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: -80%;
    
}

.bottom-toptext-icon{
    margin-top: -4%;
    margin-right: 5px;
    
}

.person-bottom-text {
    font-size: 24px;
    color: #C2C2C2;
    
}

.numberin {
    color: black;
    font-size: 16px !important;
}

.person-bottom-text p {
    color: black;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-top: -20px;
    
}

.circle-holder {
    display: flex;
    justify-content: center;
    
}

.little-circles {
    height: 10px;
    width: 10px;
    background-color: #b1b1b1;
    border-radius: 100%;
    margin: 0 10px;
    margin-top: 40px;
    
    
}

#flying-player {
    background-image: url(../assets/img/player.png);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 70px;
    
}

#be-active .image-header {
    height: 100vw;
    width: 100%;
    background-image: url(../assets/img/beActive.jpg);
    background-size: cover;
    
}

#find-contact .image-header {
    height: 100vw;
    width: 100%;
    background-image: url(../assets/img/findContact.jpg);
    background-size: cover;
    
}

#work-it .image-header {
    height: 100vw;
    width: 100%;
    background-image: url(../assets/img/work-it.jpg);
    background-size: cover;
    
}

.purple-square {
    background-color: #5C3CAF;
    width: 70px;
    display: flex;
    align-items: center;
    padding: 20px 10px;;
    flex-direction: column;
    margin: -50px 20px;
    margin-bottom: 0;
    
}

.purple-square h1{
    color: white;
    margin: 0;
    
}

.purple-square .bottom-portion{
    background-color: #816cb7;
    height: 5px;
    width: 15px;
    border-radius: 50px;
    
}

.text-underheader {
    width: 90%;
    margin: 0 auto;
    
}

.text-underheader h1{
    color: #d8d8d8
    
}

.underheader-bottom-portion {
    width: 30px;
    height: 5px;
    background-color: #5C3CAF;
    border-radius: 50px;
    margin-bottom: 30px;
    
}

footer {
    background-image: url(../assets/img/footerBG.jpg);
    color: white;
    padding-top: 100px;
    padding-bottom: 20px;
    
}

footer .img {
    height: 100px;
    width: 100px;
    background-image: url(../assets/img/icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    margin: 0 auto;    
    
    
}

footer h1 {
    text-align: center;
    font-size: 250%;
    margin: 0;
    
}

footer h2 {
    text-align: center;
    font-size: 100%;
    color: #A496CA;
    margin: 0;
    margin-top: -5px;
    
}

footer .store-buttons {
    padding: 100px 0;
    
}

footer .button {
    font-size: 12px;
    max-width: 175px;
    
}

.link-holder-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    margin: 0 auto;
    
}

.icon-footer {
    color: white !important;
    width: px !important;
    font-size: 30px !important;
    
}

@media (min-width: 560px) {
    
    #hero-banner figure {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    #hero-banner figure #logo-side {
        display: block;
        font-size: 14px;
        
    }
    
    #hero-banner .hero-headline {
        max-width: 800px;
        display: block;
        margin: 100px auto 200px auto;
        width: 80%;
        
    }
        
    #hero-banner .hero-headline h1{
        font-size: 6.5vw;
        
    }
    
    .hash-holder {
        transform: translate(0, -190px);
        margin: 0 auto;
        font-size: 3vw;
        width: 90vw;
        
    }
    
    .wrapper .store-buttons{
        display: flex;
        justify-content: space-around;

        
    }
     
    .wrapper .store-buttons .button{
        font-size: 2vw;
        max-width: 35vw
        
    }
       
    .wrapper .store-buttons .icon{
        font-size: 3vw
        
    }
    
    .hero-headline h1:nth-of-type(2) {
        text-align: right;
        padding-left: 50px;        
    }
    
    #flying-athlete {
        background-image: url(../assets/img/footballer.png);
        width: 100%;
        height: 100vw;
        position: absolute;
        left: -35%;
        max-height: 820px;
        
    }
    
    .person-bottom-text:nth-of-type(5) {
        background-color: #5E3DB3;
        height: 250px;
        
    }
    
     .person-bottom-text:nth-of-type(4) {
        height: 250px;
        
    }
     .person-bottom-text:nth-of-type(3) {
        background-color: white;
         height: 200px;
        
    }
    
    .person-background {
        height: 80px;
        padding-left: 42%;
        
    }
    
    .person-background h1{
        text-align: left;
        font-size: 10vw;
        padding-left: 10%;
        
    }
    
    .person-bottom-text {
        height: 300px;
        padding-left: 45%;
        padding-top: 0;
        
    }
    
    .person-bottom-text h1 {
        font-size: 5vw;
        
    }
    
    .person-bottom-text p{
        margin: 0 auto;
        padding-bottom: 0;
        margin-top: -20px;
        
    }
    
    .hidden-back {
        display: block;
    
    }
    
    .left {
        padding-left: 0 !important;
        padding-right: 40%;
        
    }
    
    #flying-player {
        background-image: url(../assets/img/player.png);
        width: 100%;
        height: 70vh;
        background-size: contain;
        background-position: center;
        position: absolute;
        right: -45%; 
        margin-top: -40px;
        max-height: 830px;
        
    }
    
    .person-background h1 {
        margin-top: 20px;
        
    }
    
    #bottom-row-player .person-background h1 { 
        padding-left: 3%;
        
    }
    
    #bottom-row-player .person-bottom-text:nth-of-type(4) {
        height: 200px;
        
    }
    
    #bottom-row-player .person-bottom-text:nth-of-type(3) {
        height: 200px;
        
    }
    
    #bottom-row-player .person-bottom-text:nth-of-type(5) {
        height: 250px;
        background-color: #090C35;
        
    }
    
    #bottom-row-player .person-bottom-text:nth-of-type(5) p {
        color: white;
        
    }
    
    .little-circles {
        display: none;
        
    }
    
}

@media (min-width: 1200px) {
    
    figure {
        display: flex !important;
        justify-content: space-around !important;
        margin: 0 -320px !important;  
        
    }
    
    .wrapper {
        width: 100%;
        max-width: 2700px;
        
    }
    
    .hero-headline {
        max-width: 1700px !important;
        margin-top: 200px !important;
        margin-bottom: 50px !important;
        
    }
    
    .hero-headline h1 {
        font-size: 90px !important;
        line-height: 150px;
        
    }
    
    #flying-athlete {
        margin-left: 15%;
        
    }
    
    .wrapper .store-buttons .button {
        font-size: 100% !important;
        padding: 1%;
        border-radius: 150px;
        margin: 0 20px;

    }
    
    .wrapper .button span {
        width: 80%;
        padding-left: 20px;
        
    }
    
    .wrapper .store-buttons {
        padding-bottom: 5%;
        display: flex !important;
        justify-content: center !important;
        width: 100% !important;
        
    }
    
    .wrapper .icon {
        font-size: 50px !important;
        
    }
    
    .hash-holder {
        display: none;
        
    }
    
    #top-row-athlete .person-bottom-text {
        padding-right: 20%;
        
    }
    
    #top-row-athlete .person-background h1 {
        padding-left: 6%;
        
    }
    
    #bottom-row-player .person-bottom-text {
        padding-left: 15% !important;
        
    }
    
    #bottom-row-player .person-background h1 {
        padding-left: 26% !important;
        
    }
     
    #bottom-row-player .person-background {
        margin-top: 5% !important;
        
    }
      
    #flying-player {
        margin-right: 20%;
        
    }
    
    .person-background h1 {
        font-size: 70px;
        
    }
    
    .bottomtext-toprow h1{
        font-size: 28px;
        
    }
     
    .bottomtext-toprow {
        padding-top: 30px;
        
    }
     
    .bottomtext-toprow p {
        color: white;
        
    }
    
    .bottom-toptext-icon {
        margin-top: -1.5vh;
        margin-right: 20px;
        
    }
    
    .whitecolor {
        color: white !important;
        
    }
    
    #be-active, #work-it {
        display: flex;
        height: 1000px;
        
    }
    
    #be-active, #work-it {
        display: flex;
        height: 800px;
        
    }
    
    #find-contact {
        display: flex;
        flex-direction: row-reverse;
        
    }
     
    #find-contact h1, #be-active h1, #work-it h1 {
        font-size: 90px;
        padding-left: 80px;
        
    }
    
    .image-header {
        height: 800px !important;
        width: 90% !important;
        
    }
    
    .purple-square {
        height: 20px;
        margin: 330px -50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3%;
        
    }
    
    .text-underheader {
        margin-top: 240px;
        
    }
    
    .text-underheader p {
        display: block;
        margin: -40px auto 0 auto;
        margin-left: 85px;
        width: 80%;
        
    }
    
    .underheader-bottom-portion {
        margin: 40px 0 0px 85px;
        
    }
    
    #albetern {
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    
    #albetern .img {
        margin: 0;
    
        
    }
    
}


